---
const SITE_TITLE = "Astron Barebones Stater";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE}</title>
  </head>
  <body>
    <h1>Welcome to my Astro Website!</h1>
  </body>
</html>

<style></style>
